button, .link a {
    background-color: #477998;
    border: solid 2px #477998;
    text-align: center;
    padding: 15px 5px;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 15px;
    color: white;
    margin-left: 670px;
}

button:hover, .link a:hover{
    background-color: white;
    color: #477998;
}